

.project_search {
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid var(--text_primary_color);
    display: flex;
    margin-bottom: 10px;
  }
  
  .project_search input {
    background-color: transparent;
    border: transparent;
    color: var(--text-color);
    padding: 5px 15px;
    padding-right: 0;
    width: calc(100% - 52px);
  }
  
  .project_search button {
    background-color: var(--text_primary_color);
    color: #fff;
    border: 1px solid var(--text_primary_color);
    font-size: 20px;
    padding: 10px 15px;
  }