.swal2-popup{
    background: var(--primary_color) !important;
    color: #fff !important;
}

.swal2-container.swal2-center.swal2-backdrop-show{
    background-color: #2929296b;
    backdrop-filter: blur(3px);
}

.no-padding-swal {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }
  
  /* Remove margins from images */
  .no-margin-image {
    margin: 0 !important;
    display: block;
    max-width: 100%;
  }